@tailwind base;
@tailwind components;
@tailwind utilities;

.content{
    @apply w-full px-5 mt-10 md:py-6;
}

.content-form{
    @apply w-full mt-10 flex flex-col items-center md:py-6 md:px-10;
}

.main{
    @apply flex flex-row w-screen;
}

.form{
    @apply flex flex-col items-center px-4 py-2 gap-y-3 columns-12
        xl:columns-10
        lg:columns-8
        md:columns-4
        sm:columns-2
    ;
    
}

.row{
    @apply flex flex-col justify-center items-center
        sm:gap-4 sm:flex-row;
}

.section-input{
    @apply flex flex-col items-start;    
}

.input{
    @apply p-2 my-1 rounded-lg border border-gray-200 border-solid focus:outline-none shadow-sm;
}

.input-width{
    @apply w-[80vw] sm:w-[70vw]
    md:w-[50vw]
    lg:w-[400px]
    ;
}

.button-primary{
    @apply px-4 py-2 border-2 border-blue-600 rounded-lg bg-blue-600 text-white text-sm hover:border-gray-700 hover:outline-none shadow-sm;
}

.button-success{
    @apply px-4 py-2 border-2 border-green-600 rounded-lg bg-green-600 text-white text-sm hover:border-gray-700 hover:outline-none shadow-sm;
}